@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }


    h1 {
        grid-column: 1 / span 2;
        border-bottom: 0.5px solid black;
        margin: 0 50px 0 50px;
    }

    .learning-activities {
        grid-column: 1 / span 1; 
    }
    .information {
        grid-column: auto;
    }
    
}

@media (max-width: 767px) {
    .nav {
        display: flex;
        flex-direction: column;
    }

}